[submodule "server"]
	path = server
	url = https://github.com/neelp03/matter-controller
[submodule "mobile"]
	path = mobile
	url = git@github.com:Luceium/ambiair-mobile.git
[submodule "firmware"]
	path = firmware
	url = git@github.com:Luceium/ambiair-firmware.git
[submodule "ml"]
	path = ml
	url = git@github.com:Luceium/ambiair-ml.git
